<table class="table borderless">
  <thead>
    <tr>
      <th scope="col" *ngFor="let item of columns">
        {{ item }}
      </th>
      <th scope="col" *ngIf="action">Action</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="list.length > 0; else nolist">
      <tr *ngFor="let meeting of list; let i = index; trackBy: trackByFn">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ meeting.username }}</td>
        <td>{{ meeting.agenda }}</td>
        <td>{{ meeting.date }}</td>
        <td>{{ meeting.startTime }} - {{ meeting.endTime }}</td>
        <td>{{ meeting.room }}</td>
        <td
          *ngIf="action"
          style="color: red; cursor: pointer"
          (click)="delete(i)"
        >
          Delete
        </td>
      </tr>
    </ng-container>
    <ng-template #nolist>
      <tr>
        <td colspan="6">No Meetings</td>
      </tr>
    </ng-template>
  </tbody>
</table>
